In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv')

In [3]:
data

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0,not fire
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,26,9,2012,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire
240,27,9,2012,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
241,28,9,2012,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
242,29,9,2012,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
243,30,9,2012,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [4]:
data.shape

(244, 14)

In [5]:
data=data.dropna()

In [6]:
data.shape

(243, 14)

In [7]:
data.duplicated().sum()

0

In [8]:
del data['day']
del data['month']
del data['year']

In [9]:
data

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0,not fire
4,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire
...,...,...,...,...,...,...,...,...,...,...,...
239,30,65,14,0.0,85.4,16.0,44.5,4.5,16.9,6.5,fire
240,28,87,15,4.4,41.1,6.5,8,0.1,6.2,0,not fire
241,27,87,29,0.5,45.9,3.5,7.9,0.4,3.4,0.2,not fire
242,24,54,18,0.1,79.7,4.3,15.2,1.7,5.1,0.7,not fire
243,24,64,15,0.2,67.3,3.8,16.5,1.2,4.8,0.5,not fire

In [10]:
data.columns

Index(['Temperature', ' RH', ' Ws', 'Rain ', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI',
       'FWI', 'Classes  '],
      dtype='object')

In [11]:
features=['Temperature', ' RH', ' Ws', 'Rain ', 'FFMC', 'DMC', 'DC', 'ISI', 'BUI','FWI']
output=['Classes  ']

In [12]:
x=data[features]
y=data[output]

In [13]:
y['Classes  '].unique()

array(['not fire   ', 'fire   ', 'fire', 'fire ', 'not fire', 'not fire ',
       'not fire     ', 'not fire    '], dtype=object)

In [14]:
data1=data['Classes  '].replace({'not fire   ': 'not fire', 'fire   ': 'fire', 'fire ': 'fire', 'not fire': 'not fire','not fire    ':'not fire'})

In [15]:
data1.unique()

array(['not fire', 'fire', 'not fire ', 'not fire     '], dtype=object)

In [16]:
data1=data1.replace({'not fire ':'not fire','not fire     ':'not fire'})

In [17]:
data1.unique()

array(['not fire', 'fire'], dtype=object)

In [18]:
del data['Classes  ']

In [21]:
data2=pd.concat([data,data1],axis=1)

In [22]:
data2

     Temperature   RH   Ws  Rain   FFMC   DMC    DC  ISI   BUI  FWI Classes
0             29   57   18    0.0  65.7   3.4   7.6  1.3   3.4  0.5  not fire
1             29   61   13    1.3  64.4   4.1   7.6  1.0   3.9  0.4  not fire
2             26   82   22   13.1  47.1   2.5   7.1  0.3   2.7  0.1  not fire
3             25   89   13    2.5  28.6   1.3   6.9  0.0   1.7    0  not fire
4             27   77   16    0.0  64.8   3.0  14.2  1.2   3.9  0.5  not fire
..           ...  ...  ...    ...   ...   ...   ...  ...   ...  ...       ...
239           30   65   14    0.0  85.4  16.0  44.5  4.5  16.9  6.5      fire
240           28   87   15    4.4  41.1   6.5     8  0.1   6.2    0  not fire
241           27   87   29    0.5  45.9   3.5   7.9  0.4   3.4  0.2  not fire
242           24   54   18    0.1  79.7   4.3  15.2  1.7   5.1  0.7  not fire
243           24   64   15    0.2  67.3   3.8  16.5  1.2   4.8  0.5  not fire

[243 rows x 11 columns]

In [ ]:
data2.to_csv('FOREST FIRE.csv')